node_modules/
# dist is removed so it can be pushed to GitHub for pre-built deployments
.env
.env.*
!.env.example
*.log
hostinger-debug.txt
startup.log
.DS_Store
.vscode/
coverage/
# build/
.next/
*.timestamp-*
